TOPIC: Tuple Based Practice Problem :

In [2]:
"""1. Create a tuple with integers from 1 to 5."""

tup = tuple(i for i in range(1, 6))
print(tup)

(1, 2, 3, 4, 5)

In [4]:
"""2. Access the third element of a tuple."""

tup = tuple(i for i in range(1, 6))
print(f"The third element is: {tup[2]}")

The third element is: 3

In [6]:
"""3. Find the length of a tuple without using the `len()` function."""

tup = (1,2,3,4,5)
count = 0
for i in tup:
    count += 1
print(f"The length of the tuple is: {count}")

The length of the tuple is: 5

In [7]:
"""4. Count the occurrences of an element in a tuple."""

tup = (10, 20, 30, 40, 20, 50, 20)
n = int(input("Enter the value: "))

count = tup.count(n)
print(f"The element {n} appears {count} times in the list.")

Enter the value: 20
The element 20 appears 3 times in the list.

In [8]:
"""5. Find the index of the first occurrence of an element in a tuple."""

tup = (10, 20, 30, 40, 20, 50, 30)
n = int(input("Enter the value: "))
if n in tup:
    index = tup.index(n)
    print(f"The first occurrence of {n} is at index {index}.")
else:
    print(f"{n} was not found in the list.")

Enter the value: 30
The first occurrence of 30 is at index 2.

In [9]:
"""6. Check if an element exists in a tuple."""

tup = (1, 2, 3, 4, 5)
n = int(input("Enter the element to check: "))
for i in tup:
    if i == n:
        c=0
        break
    else:
        c=1
if c==0:
    print("Element Found!")
else:
    print("Element Not found!")

Enter the element to check: 5
Element Found!

In [13]:
"""7. Convert a tuple to a list."""

tup = (1, 2, 3, 4, 5)
lst = list(tup)
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

In [15]:
"""8. Convert a list to a tuple."""

lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [20]:
"""9. Unpack the elements of a tuple into variables."""

tup = (1, 2, 3)
a, b, c = tup

print(a, b, c)

1 2 3

In [21]:
"""10. Create a tuple of even numbers from 1 to 10."""

tup = tuple(i for i in range(1, 11) if i%2 == 0)
print(tup)

(2, 4, 6, 8, 10)

In [22]:
"""11. Create a tuple of odd numbers from 1 to 10."""

tup = tuple(i for i in range(1, 11) if i%2 != 0)
print(tup)

(1, 3, 5, 7, 9)

In [23]:
"""12. Concatenate two tuples."""

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [24]:
"""13. Repeat a tuple three times."""

my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
"""14. Check if a tuple is empty."""

tup = ()
if len(tup) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

In [27]:
"""15. Create a nested tuple."""

nested_tuple = (1, 2, (3, 4), 5)
print(nested_tuple)

(1, 2, (3, 4), 5)

In [29]:
"""16. Access the first element of a nested tuple."""

nested_tuple = (1, 2, (3, 4), 5)
first_element = nested_tuple[0]
print(f"The first element is: {first_element}")

The first element is: 1

In [30]:
"""17. Create a tuple with a single element."""

tup = (42,)
print(tup)

(42,)

In [31]:
"""18. Compare two tuples."""

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are equal")
else:
    print("The tuples are not equal")

The tuples are equal

In [34]:
"""19. Delete a tuple."""

tup = (1, 2, 3)
del tup

In [35]:
"""20. Slice a tuple."""

my_tuple = (1, 2, 3, 4, 5)
slice_result = my_tuple[1:4]
print(slice_result)

(2, 3, 4)

In [36]:
"""21. Find the maximum value in a tuple."""

my_tuple = (1, 2, 3, 4, 5)
max_val = max(my_tuple)
print(max_val)

5

In [38]:
"""22. Find the minimum value in a tuple."""

my_tuple = (1, 2, 3, 4, 5)
min_val = min(my_tuple)
print(min_val)

1

In [39]:
"""23. Convert a string to a tuple of characters."""

my_string = "Hello, World!"
char_tuple = tuple(my_string)

print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [41]:
"""24. Convert a tuple of characters to a string."""

char_tuple = ('H', 'e', 'l', 'l', 'o')
result_string = ''.join(char_tuple)
print(result_string)

Hello

In [40]:
"""25. Create a tuple from multiple data types."""

my_tuple = (1, 2, 3, 4, 5, "HEY", 56.3, True)
print(my_tuple)

(1, 2, 3, 4, 5, 'HEY', 56.3, True)

In [43]:
"""26. Check if two tuples are identical."""

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical")
else:
    print("The tuples are not identical")

The tuples are identical

In [47]:
"""27. Sort the elements of a tuple."""

my_tuple = (4, 1, 3, 2, 5)

sorted_list = sorted(my_tuple)
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [51]:
"""28. Convert a tuple of integers to a tuple of strings."""

tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(i) for i in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [52]:
"""29. Convert a tuple of strings to a tuple of integers."""

tuple_of_integers = ('1', '2', '3', '4', '5')
tuple_of_strings = tuple(int(x) for x in tuple_of_integers)

print(tuple_of_strings)

(1, 2, 3, 4, 5)

In [50]:
"""30. Merge two tuples."""

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_list = tuple1 + tuple2
print(merged_list)

(1, 2, 3, 4, 5, 6)

In [75]:
"""31. Flatten a nested tuple."""

nested_tuple = ((1, 2), (3, 4, 5), 6, (7))

flat_list = ()
for i in nested_tuple:
    if type(i) == tuple:
        for j in i:
            a = (j,)
            flat_list += a
    else:
        a = (i,)
        flat_list += a

print(f"Required Tuple: {flat_list}")

Required Tuple: (1, 2, 3, 4, 5, 6, 7)

In [73]:
"""32. Create a tuple of the first 5 prime numbers."""

prime_numbers = ()
for num in range(1,6):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            a = (num,)
            prime_numbers += a
            
print(f"Required Prime Numbers: {prime_numbers}")

Required Prime Numbers: (2, 3, 5)

In [76]:
"""33. Check if a tuple is a palindrome."""

my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple[::-1]

if my_tuple == is_palindrome:
    print("The tuple is a palindrome")
else:
    print("The tuple is not a palindrome")

The tuple is a palindrome

In [66]:
"""34. Create a tuple of squares of numbers from 1 to 5."""

tup = tuple(i**2 for i in range(1, 6))
print(tup)

(1, 4, 9, 16, 25)

In [11]:
"""35. Filter out all even numbers from a tuple."""

tup = (1, 2, 3, 4, 5)
odd_tup = tuple(i for i in tup if i%2 != 0)

print(f"Filtered tuple: {odd_tup}")

Filtered tuple: (1, 3, 5)

In [79]:
"""36. Multiply all elements in a tuple by 2."""

original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in original_tuple)
print(f"Doubled List: {doubled_tuple}")

Doubled List: (2, 4, 6, 8, 10)

In [78]:
"""37. Create a tuple of random numbers."""

import random
n = int(input("How many random numbers do you need? "))
random_numbers = tuple(random.randint(1, 100) for i in range(n))
print(random_numbers)

How many random numbers do you need? 5
(51, 59, 40, 35, 23)

In [81]:
"""38. Check if a tuple is sorted."""

tup = (1, 2, 7, 3, 4, 5)
l = len(tup)
isSorted = True
for i in range(l - 1):
    if tup[i] > tup[i + 1]:
        isSorted = False
if isSorted:
    print("It's a sorted list")
else:
    print("It's not a sorted list")

It's not a sorted list

In [82]:
"""39. Rotate a tuple to the left by `n` positions."""

original_tuple = (1, 2, 3, 4, 5)
n = int(input("Enter the position: "))

rotated_tuple = original_tuple[n:] + original_tuple[:n]

print(f"Roatated List: {rotated_tuple}")

Enter the position: 1
Roatated List: (2, 3, 4, 5, 1)

In [83]:
"""40. Rotate a tuple to the right by `n` positions."""

original_tuple = (1, 2, 3, 4, 5)
n = int(input("Enter the position: "))

rotated_tuple = original_tuple[-n:] + original_tuple[:-n]

print(f"Roatated List: {rotated_tuple}")

Enter the position: 1
Roatated List: (5, 1, 2, 3, 4)

In [10]:
"""41. Create a tuple of the first 5 Fibonacci numbers."""

s = [0,1]
fibonacci_set = tuple(s)
a, b = 1, 1

for i in range(3):
    a, b = b, a + b
    z = (a,)
    fibonacci_set += z

print("Fibonacci Tuple:", fibonacci_set)

Fibonacci Tuple: (0, 1, 1, 2, 3)

In [86]:
"""42. Create a tuple from user input."""

input_string = input("Enter elements: ")
input_list = input_string.split(",")
user_tuple = tuple(input_list)
user_tuple
print("User Tuple:", user_tuple)

Enter elements: 1,34,57,89,69
User Tuple: ('1', '34', '57', '89', '69')

In [1]:
"""43. Swap two elements in a tuple."""

my_tuple = (1, 2, 3, 4, 5)
i = int(input("Enter the index of first element: "))
j = int(input("Enter the index of second element: "))

my_list = list(my_tuple)
my_list[i], my_list[j] = my_list[j], my_list[i]
swap = tuple(my_list)

print(f"After swapping: {swap}")

Enter the index of first element: 1
Enter the index of second element: 3
After swapping: (1, 4, 3, 2, 5)

In [2]:
"""44. Reverse the elements of a tuple."""

my_tuple = (1, 2, 3, 4, 5)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)

[1, 2, 3, 4, 5]

In [5]:
"""45. Create a tuple of the first `n` powers of 2."""

n = int(input("Enter no of elements required: "))
tup = tuple(i**2 for i in range(1, n))
print(f"Required tuple: {tup}")

Enter no of elements required: 10
Required tuple: (1, 4, 9, 16, 25, 36, 49, 64, 81)

In [6]:
"""46. Find the longest string in a tuple of strings."""

string_tuple = ("Gomu Gomu no Mi", "apple", "banana", "cherry", "dragon fruit")
longest_string = max(string_tuple, key=len)
print("The longest string is:", longest_string)

The longest string is: Gomu Gomu no Mi

In [7]:
"""47. Find the shortest string in a tuple of strings."""

string_tuple = ("Gomu Gomu no Mi", "apple", "banana", "cherry", "dragon fruit")
shortest_string = min(string_tuple, key=len)
print("The longest string is:", shortest_string)

The longest string is: apple

In [8]:
"""48. Create a tuple of the first `n` triangular numbers."""

n = int(input("Enter no of triangular number required: "))
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(f"Triangular Numbers: {triangular_numbers}")

Enter no of triangular number required: 5
Triangular Numbers: (1, 3, 6, 10, 15)

In [10]:
"""49. Check if a tuple contains another tuple as a subsequence."""

sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subsequence = (3, 5, 8)

lst = tuple()
for i in subsequence:
    if i in sequence:
        a = (i,)
        lst += a

if lst == subsequence:
    print("The subsequence is present in the sequence.")
else:
    print("The subsequence is not present in the sequence.")

The subsequence is present in the sequence.

In [14]:
"""50. Create a tuple of alternating 1s and 0s of length `n`."""

n = int(input("Enter Length of the tuple: "))
tup = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print("Required Tuple: ",tup)

Enter Length of the tuple: 10
Required Tuple:  (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)